<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2 ">
        <div class="social-links">
          <p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
          <!-- {% include social-links.html %} -->
        </div>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}
          <a href="/yaraslau.kurmyza.pdf" title="Resume">Résumé</a>
        </p>
      </div>
    </div>

  </div>

</footer>
{% include scripts.html %}