{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}">Email</a>{% endif %}
{% if site.footer-links.github %}<a href="http://github.com/{{ site.footer-links.github }}">GitHub</a>{% endif %}
{% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/story/{{ site.footer-links.stackoverflow }}">StackOverflow</a>{% endif %}
{% if site.footer-links.linkedin %}<a href="http://linkedin.com/in/{{ site.footer-links.linkedin }}">Linkedin</a>{% endif %}
{% if site.footer-links.twitter %}<a href="http://twitter.com/{{ site.footer-links.twitter }}">Twitter</a>{% endif %}
{% if site.footer-links.instagram %}<a href="http://instagram.com/{{ site.footer-links.instagram }}">Instagram</a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml">RSS</a>{% endif %}
{% if site.footer-links.youtube %}<a href="http://youtube.com/{{ site.footer-links.youtube }}">Youtube</a>{% endif %}