.resume {
	margin-top: 20px;
}
.linkedin-widget {
	text-align: center;
}

a[data-lang] {
	border-bottom: 1px dashed $brand-color;
}

.pull-right {
	float: right;
}
.pull-left {
	float: left;
}

ul.thumbnails {
	list-style-type: none;
}

img.responsive {
    width: 100%;
    max-width: 128px;
}
img.responsive2 {
    max-height: 200px;
    height: 100%;
}
.center {
    text-align: center;
}

.logo-in-text {
    text-align: center;
    margin: 10px;
}

.project {
    margin: 10px 10px 50px 10px;
    min-height: 400px;
}
.project h1 {
    font-size: 2em;
    font-family: Verdana;
    margin-bottom: 20px;
    color: #009EDF;
    border-bottom: 1px dashed #009EDF;
    padding-bottom: 6px;
}
h4 {
    font-size: 1.2em;
    color: #009EDF !important;
    font-family: Verdana;
}

.info {
    text-align: left;
    background: initial;
    border: none;
    font-family: monospace;
    color: #455C75;
}

.social-links {
    a {
        margin-right: 6px;
        padding-right: 10px;
        border-right: 2px solid #aaa;
        &:last-child {
            border-right: 0;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    span {
        border-bottom: 2px solid lighten($brand-color, 10%);
    }
}

.lead {
    font-size: $base-font-size + 4px;
}

.resume {
    a {
        color: #009EDF;
        text-decoration: underline;
    }
    h3 {
        .filters {
            display: none; // hidden for now
            float: right;
            text-decoration: none;
            border-bottom: 0;
            a {
                text-decoration: none;
            }
        }
    }
}

.experience {
    border-bottom: 2px dotted #eee;
    padding-bottom: 10px;
    .title {
        font-family: $optional-font-family;
        font-size: 18px;
        font-weight: bold;
        margin: 12px 0 3px 0;
        .location {
            font-weight: 300;
            font-size: 16px;
            color: #555;
            padding-left: 10px;
        }
        .position {
            margin-left: 12px;
            padding: 0 3px;
            font-weight: 400;
            border: 1px solid rgb(220, 250, 255);
            background-color: rgb(220, 250, 255);
            border-radius: 3px;
        }
        .type {
            float: right;
            font-weight: 100;
            font-size: 12px;
            line-height: 24px;
            color: rgb(122, 135, 204);
        }
    }
    .date {
        color: #888;
        font-size: 13px;
        font-weight: 400;
        font-family: $optional-font-family;
    }
    .description {
        margin: 8px 0;
        font-size: 16px;
    }

    &.type-freelance {
        color: #556;
    }
    &.type-project {
        color: #655;
    }
    &:hover {
        color: initial;
    }
}
